
.cb.context-menu {
    -fx-background-color: dodgerblue;
}

.choice-box.menu-item:focused { -fx-background-color: deepskyblue; }
.choice-box.menu-item.label { -fx-text-fill: white; }

.cb.label {
    -fx-text-fill: deepskyblue;
}

.custom-button {
    -fx-padding: 10;
    -fx-background-color: dodgerblue;
}

.button{
    -fx-text-fill: rgb(49, 89, 23);
    -fx-border-color: rgb(49, 89, 23);
    -fx-border-radius: 5;
    -fx-padding: 3 6 6 6;
}